.dialog {
  @include flex();

  position: relative;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  text-transform: uppercase;
  border: 1px solid $blue;

  &::backdrop {
    backdrop-filter: blur(20px);
    transition: backdrop-filter 0.5s ease;
  }

  &__header {
    margin: 50px 0 0;
    color: $blue;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
  }

  &__link {
    align-self: flex-start;
    color: $red;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
