.footer {
  &__dots {
    position: absolute;
    left: 354px;
    bottom: 23px;
  }

  &__triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-color: transparent transparent $white transparent;
    border-style: solid;
    border-width: 0px 305px 200px 305px;
  }

  &__container {
    display: flex;
    justify-content: flex-end;
  }

  &__wrapper {
    display: flex;
    margin-right: 60px;
    column-gap: 40px;
  }

  &__links,
  &__members,
  &__date {
    align-self: center;
    color: $blue;
    z-index: 2;
    transition: 0.3s;
    user-select: none;
  }

  &__links:hover,
  &__members:hover {
    color: $orange;
    text-shadow: 0 4px 4px rgba(0 0 0 / 25%);
  }

  &__members {
    display: flex;
    column-gap: 10px;
  }
}
