html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100vh;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Montserrat, sans-serif;
}

.header {
  flex: 0 0 auto;
}

.main {
  flex: 1 0 auto;

  &__container {
    height: 100%;
  }
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 55px;
}

a {
  text-decoration: none;
}
