.games {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  margin-top: 85px;

  &__name {
    max-width: 451px;
    margin: 0 0 0 47px;
    font-weight: 600;
    font-size: 96px;
    line-height: 117px;
    color: $orange;
  }

  &__img {
    height: 150px;
  }
}

.games-wrapper {
  @include flex;
  justify-content: flex-start;

  .game_item {
    display: flex;
    flex-direction: row;
    column-gap: 41px;
  }
}

.games__wrapper:nth-child(1) {
  position: relative;
  margin-bottom: 54px;
}

.games-wrapper:nth-child(2) {
  .game-info {
    order: 0;
  }

  .outer-ball2 {
    order: 2;
  }
}

.game-info {
  max-width: 580px;

  &__name {
    margin: 0;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    color: $white;
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 15px 0;
    color: $white;
  }

  &__button {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    background-color: transparent;
    color: $white;
    text-align: center;
    padding: 10px 40px;
    border: 1px solid $white;
    transition: 0.3s;
    cursor: pointer;
  }

  &__button:hover {
    background-color: $orange;
    color: $blue;
    border-color: $orange;
  }
}
