.card {
  display: flex;
  flex-direction: column;
  width: 150px;

  &__sound {
    width: 50px;
  }

  &__star {
    width: 50px;
  }

  &__difficult {
    background-color: $orange;
    opacity: 0.98;
  }

  &__learned {
    background-color: $blue;
    opacity: 0.98;
  }

  &__learned-mark {
    cursor: pointer;
    border: solid 1px $dark-gray;
    border-radius: 5px;
  }
}

.section {
  &__cards {
    display: flex;
    flex-flow: row wrap;
  }
}
