.card {
  display: flex;
  flex-direction: column;
  width: 150px;

  &__sound {
    width: 50px;
  }

  &__star {
    width: 50px;
  }

  &__difficult {
    background-color: $orange;
    opacity: 0.98;
  }
}

.section {
  &__cards {
    display: flex;
    flex-flow: row wrap;
  }
}
