$dark-grey: #224347;
$lavender: #e0e2ee;
$light-grey: #d2cfd3;
$middle-grey: #bab8bb;
$light-shadow: #223c504d;
$orange: #eaad77;
$dark-orange: #d69d66;
$blue: #3c6c79;
$white: #ffffff;
$placeholder: rgb(61 109 121 / 39%);
