$green: #1f941f;
$red: #fa5833;
$yellow: #ffbf00;
$transparent-green: #1f941f66;
$animate-end: #1f941f00;
$transparent-red: #fa583366;
$transparent-orange: #ff990066;
$transparent-yellow: #ffbf0066;
$transparent-blue: #87bece66;
$transparent-dark-blue: #02506666;
$transparent-purple: #a033fa66;
$chart-pink: #ff6384;
$chart-blue: #36a2eb;
$chart-yellow: #ffcd56;
